@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
  box-sizing: border-box;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-header__first::after {
  display: block;
  content: '';
  z-index: 1;
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 50%;
  background-color: #E09137;
  animation: slide-left 1s ease-out forwards;
}
.hero-header__second::after {
  display: block;
  content: '';
  z-index: 1;
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 50%;
  right: 0;
  width: 0%;
  height: 50%;
  background-color: #E09137; 
}
.selected {
  background: orange;
}


.animate{
  visibility: hidden;
  animation: reveal 1s forwards;
  
}
.animate>.hero-header-first::after{
  animation: slide-right 1s ease-out forwards;
}
.animate>.hero-header-delayed::after{
  animation: slide-left 1s ease-out forwards;
}



@keyframes reveal{
  0%{visibility: hidden;}
  50% {visibility: hidden;
  }
  51% {visibility: visible}
  100% {visibility: visible}
}

@keyframes slide-left{
  0%{
      left: 0%;
      width: 0%;
  }
  50%{
      left: 0%;
      width: 100%;
  }
  100%{
      left: 100%;
      width: 0%;
  }
}
@keyframes slide-right{
  0%{
      left: 100%;
      width: 0%;
  }
  50%{
      left: 0%;
      width: 100%;
  }
  100%{
      left: 0%;
      width: 0%;
  }
}